<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo formularios</title>
</head>

<body>
    <form action="" method="get">
        <input type="checkbox" id="verano" name="verano" value="Si" />¿Te gusta el verano?
        <input type="submit" />
    </form>
    <button onclick="marcar()">Marcar Checkbox</button>
    <button onclick="desmarcar()">Desmarcar Checkbox</button>

    <script>
        function marcar() {
            document.getElementById("verano").checked = true;
        }

        function desmarcar() {
            document.getElementById("verano").checked = false;
        }
    </script>


</body>

</html>